* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    width: 100dvw;
    height: 100dvh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: rgb(224, 255, 214);
    padding: 20px;
    margin: 20px;
}

button{
    background-color: rgb(215, 141, 4);
    padding: 10px;
    color: aliceblue;
    border: 1px solid rgb(215, 141, 4);
    border-radius: 10px;
    font-size: 20px;
}

input{
    padding: 10px;
    border-radius: 10px ;
    border: 1px solid black ;
}

h2{
    color: green;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 20px;
}

p{
    font-size: 25px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

section{
    display: flex;
}


.input{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
}

h1{
    padding: 0 10px 0 470px;
    color: rgb(1, 40, 100);
}

.produto-item {
    background-color: #68b96f;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    gap: 10px;
    margin: 7px;
}


#popup{
    display:none; 
    position:fixed; 
    top:20%; 
    left:50%; 
    transform:translateX(-50%);
     background:#fff; 
     border:2px solid #c00; 
     padding:20px; 
     border-radius:8px; 
     box-shadow:0 0 10px rgba(0,0,0,.3);
}


